# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/.pnp
.pnp.js
*.ini
/node_modules
node_modules/

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#custom
*.ini*
yolov7/
traced_model.pt
ECRARM_PY_ENV/Include
ECRARM_PY_ENV/Lib
ECRARM_PY_ENV/Scripts
ECRARM_PY_ENV/share
ECRARM_PY_ENV/pyvenv.cfg
ECRARM_PY_ENV/bin
ECRARM_PY_ENV/include
ECRARM_PY_ENV/lib
ECRARM_PY_ENV/lib64


Tx2/runs/detect
*img_captured.jpg*
*Pipfile*