<!--
=========================================================
* Argon Dashboard - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard

* Copyright  Creative Tim (http://www.creative-tim.com)
* Coded by www.creative-tim.com
=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- <link
      rel="canonical"
      href="https://appseed.us/admin-dashboards/flask-boilerplate-dashboard-argon"
    /> -->

    <title>ECRARM Dashboard - Open-Source Admin Panel | AppSeed</title>

    <link
      rel="icon"
      href="../static/legacy/assets/img/brand/favicon.png"
      type="image/png"
    />
    <!-- Fonts -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
    />
    <!-- Icons -->
    <link
      rel="stylesheet"
      href="../static/legacy/assets/vendor/nucleo/css/nucleo.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="../static/legacy/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css"
      type="text/css"
    />
    <!-- Argon CSS -->
    <link
      rel="stylesheet"
      href="../static/legacy/assets/css/argon.css?v=1.2.0"
      type="text/css"
    />

    <!-- Specific CSS goes HERE -->
  </head>

  <body class="bg-default">
    <div class="main-content">
      <!-- navigation -->
      <nav
        id="navbar-main"
        class="navbar navbar-horizontal navbar-transparent navbar-main navbar-expand-lg navbar-light"
      >
        <div class="container">
          <a class="navbar-brand" href="#">
            <img
              src="../static/legacy/assets/img/brand/white.png"
              alt="Argon Design - Template Starter Logo."
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbar-collapse"
            aria-controls="navbar-collapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="navbar-collapse navbar-custom-collapse collapse"
            id="navbar-collapse"
          >
            <div class="navbar-collapse-header">
              <div class="row">
                <div class="col-6 collapse-brand">
                  <a href="/">
                    <img src="../static/legacy/assets/img/brand/blue.png" />
                  </a>
                </div>
                <div class="col-6 collapse-close">
                  <button
                    type="button"
                    class="navbar-toggler"
                    data-toggle="collapse"
                    data-target="#navbar-collapse"
                    aria-controls="navbar-collapse"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                  ></button>
                </div>
              </div>
            </div>
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link">
                  <span class="nav-link-inner--text">Login</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  <span class="nav-link-inner--text">Register</span>
                </a>
              </li>
            </ul>
            <hr class="d-lg-none" />
            <ul class="navbar-nav align-items-lg-center ml-lg-auto">
              <li class="nav-item">
                <a
                  class="nav-link nav-link-icon"
                  href="#"
                  target="_blank"
                  data-toggle="tooltip"
                  data-original-title="Like us on Facebook"
                >
                  <i class="fab fa-facebook-square"></i>
                  <span class="nav-link-inner--text d-lg-none">Facebook</span>
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link nav-link-icon"
                  href="#"
                  target="_blank"
                  data-toggle="tooltip"
                  data-original-title="Follow us on Twitter"
                >
                  <i class="fab fa-twitter-square"></i>
                  <span class="nav-link-inner--text d-lg-none">Twitter</span>
                </a>
              </li>
              <li class="nav-item d-none d-lg-block ml-lg-4">
                <a href="/react" target="_blank" class="btn btn-neutral btn-icon">
                  <span class="btn-inner--icon">
                    <i class="fas fa-rocket mr-2"></i>
                  </span>
                  <span class="nav-link-inner--text">Contact us</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- Header -->
      <div class="header bg-gradient-primary py-7 py-lg-8">
        <div class="container">
          <div class="header-body text-center mb-3">
            <div class="row justify-content-center">
              <div class="col-lg-5 col-md-6">
                <p class="text-left text-bold text-white">
                  [2022 한이음 ICT 공모전]
                </p>
                <h1 class="text-white text-large">
                  <a target="" class="text-white" href="#"
                    >ECRARM WEB DASHBOARD</a>
                </h1>
              </div>
            </div>
          </div>
        </div>
        <div class="separator separator-bottom separator-skew zindex-100">
          <svg
            x="0"
            y="0"
            viewBox="0 0 2560 100"
            preserveAspectRatio="none"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
          >
            <polygon
              class="fill-default"
              points="2560 0 2560 100 0 100"
            ></polygon>
          </svg>
        </div>
      </div>

      <!-- Page content -->
      <div class="container mt--8 pb-5">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0">
              <div class="card-header bg-transparent pb-3">
                <h2 class="text-center mt-2 mb-2">LOGIN</h2>
                <div class="text-center text-muted">Add your credentials</div>
              </div>
              <div class="card-body px-lg-5 py-lg-5">
                <div>
                  <div class="form-group mb-3">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="ni ni-single-02"></i
                        ></span>
                      </div>
                      <input
                        type="text"
                        placeholder="Username"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="ni ni-lock-circle-open"></i
                        ></span>
                      </div>
                      <input
                        type="password"
                        placeholder="UserPassWord"
                        class="form-control"
                      />
                    </div>
                  </div>

                  <div class="text-center">
                    <a href="/home"
                      ><button
                        type="submit"
                        name="login"
                        class="btn btn-primary my-4"
                      >
                        Sign in
                      </button></a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-3 text-center">
              <div class="col-12">
                <a class="text-light"><small>Create new account</small></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- footer -->

      <footer class="py-5">
        <div class="container">
          <div class="row align-items-center justify-content-xl-between">
            <div class="col-xl-6">
              <div class="copyright text-center text-xl-left text-muted">
                <span href="#" class="font-weight-bold" target="_blank">
                  Contributor
                </span>
                <p class="text-lead text-bold text-white">
                  22_HF182 : 딥러닝 기반 객체인식 소자분류로봇<br />
                  - 김영희, 박건하, 이희원, 차우석 -
                </p>
              </div>
            </div>
            <div class="col-xl-6">
              <div class="text-center text-xl-right text-muted">
                &copy;
                <a target="_blank" href="#">Creative-Tim</a>
                - coded by
                <a target="_blank" href="">AppSeed</a>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script src="../static/legacy/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="../static/legacy/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/legacy/assets/vendor/js-cookie/js.cookie.js"></script>
    <script src="../static/legacy/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="../static/legacy/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>

    <!-- Specific JS goes HERE -->

    <script src="../static/legacy/assets/js/argon.js?v=1.2.0"></script>
  </body>
</html>
